.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Theme_Light .App-header {
  background-color: rgb(54, 154, 248);
  color: black;
}

.App-link {
  color: #09d3ac;
}

a {
  color: #ffffff;
}
a.active {
  color: #0dd2ac;
}

.Theme_Light a {
  color: #000000;
}

.Theme_Light a.active {
  color: #ffffff;
}
